pyrofork
aiofiles==24.1.0
aiohttp==3.9.5
aiosignal
python-dotenv
requests
uvloop
aiocron
croniter
wget
TgCrypto2
httpx[http2]
pytimeparse
regex
Pillow
pytz
meval
aiorun
aiosqlite
aioshutil